/**
	* CSS for the booking page of my site
  * @author JonathanPeterCole@gmail.com
**/

/* General */
a.selection-block {
  width: 100%;
  padding: 45px;
  margin-bottom: 18px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  transition: transform 0.2s, box-shadow 0.2s;
}
a.selection-block:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 30px;
}
.selection-block .title {
  color: #333;
  height: 45px;
  margin-bottom: 0;
}
.selection-block .icon {
  height: 90px;
  margin: 72px 0 90px 0;
}
.selection-block .price {
  font-weight: 300;
  font-size: 2.7em;
  color: #db2525;
}
@media (max-width: 1199px) {
  a.selection-block {
    padding: 30px;
  }
}
@media (max-width: 991px) {
  a.selection-block {
    padding: 25px;
  }
  .selection-block .icon {
    height: 50px;
    margin: 10px 0 20px;
  }
  .selection-block .price {
    font-size: 2em;
  }
}

/* Loading Page */
.loading-container {
  margin: 120px auto;
  text-align: center;
}

/* Result */
.page .content-container.success {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#result .icon {
  height: 50px;
  margin-bottom: 40px;
}
#result .title {
  margin: 10px;
}
