/**
	* CSS for the homepage of my site
  * @author JonathanPeterCole@gmail.com
**/

/* Banner */
.banner-img {
  background: url(/static/img/home/banner.png) no-repeat bottom center;
  background-size: contain;
  height: 100%;
  width: 100%;
}

/* About */
section.about {
  background: #fff;
}
.about img {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  margin-bottom: 20px;
}

/* Services */
section.services {
  background: #f1f1f1;
  padding-bottom: 20px;
}
.service {
  background: #fff;
  margin: 0 0 35px 0;
  border-radius: 3px;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 9px 30px;
}
.service:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 30px;
}
.service .text {
  padding: 0;
}
.service .image-box {
  padding: 0;
}
.service .image-box.setup {
  background: #dddddd;
}
.service .image-box.upgrade {
  background: #191919;
}
.service .image-box.repair {
  background: #737be4;
}
.service .image-box img {
  width: 100%;
}
