/**
	* CSS for the homepage of my site
  * @author JonathanPeterCole@gmail.com
**/

/* Banner */
.banner-img {
  background: url(/static/img/home/banner.png) no-repeat bottom center;
  background-size: contain;
  height: 100%;
  width: 100%;
}

/* About */
#about {
  background: #fff;
}
#about img {
  height: 130px;
  width: 130px;
  margin: 5px auto;
  border-radius: 100%;
}
@media (max-width: 991px) {
  #about {
    text-align: justify;
  }
  #about img {
    height: 100px;
    width: 100px;
    margin: 0 auto 40px auto;
  }
}

/* Services */
#services {
  background: #f1f1f1;
  padding-bottom: 20px;
}
.service {
  background: #fff;
  margin: 0 0 35px 0;
  border-radius: 3px;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 9px 30px;
}
.service:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 30px;
}
.service .text {
  padding: 60px;
  padding-bottom: 40px;
}
.service .image-box {
  padding: 0;
  overflow: hidden;
}
.service .image-box.setup {
  background: #dddddd;
}
.service .image-box.upgrade {
  background: #191919;
}
.service .image-box.repair {
  background: #737be4;
}
.service .image-box img {
  width: 100%;
  transition: 0.2s ease;
}
.service:hover img {
  transform: scale(1.08);
}
.service .text p {
  margin: 20px 0;
}
@media (max-width: 991px) {
  .service .text {
    padding: 40px;
    padding-bottom: 20px;
  }
  .service .image-box img {
    width: auto;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .service {
    margin-bottom: 20px;
  }
}

/* Contact and Book */
#contact-and-book {
  background: #191919;
}
#contact-and-book h2 {
  margin: 0;
  line-height: 1.15;
}
#contact-and-book .contact-details {
  text-align: center;
  color: #dddddd;
  font-size: 1.3em;
  font-weight: 300;
}
.contact-details img {
  margin: 10px 0 12px 0;
  height: 50px;
}
.contact-details a {
  color: #b7b7b7;
}
.contact-details a:hover {
  color: #fff;
}
@media (max-width: 991px) {
  #contact-and-book {
    text-align: center;
  }
  #contact-and-book .contact-details {
    margin-top: 20px;
  }
}
