/* Fonts */
@font-face {
    font-family: 'Nevis';
    src: url('/static/fonts/nevis/nevis-bold.woff2') format('woff2'),
         url('/static/fonts/nevis/nevis-bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/static/fonts/quicksand/quicksand-bold.woff2') format('woff2'),
       url('/static/fonts/quicksand/quicksand-bold.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-light.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-light.woff') format('woff');
  font-weight: lighter;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-regular.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-bold.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-bold.woff') format('woff');
  font-weight: bold;
}

/* Text */
a:hover {
    text-decoration: none;
}
.gradient-text {
  color: #db2525;
  /* Enable gradient only in Chrome in case of compatibility issues */
  background: -webkit-linear-gradient(left, #db2525 0%,#a10829 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
