/**
	* Main CSS for my site
  * @author JonathanPeterCole@gmail.com
**/

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
         url('/static/fonts/montserrat/montserrat-semibold.woff') format('woff');
    font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
       url('/static/fonts/montserrat/montserrat-bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/static/fonts/quicksand/quicksand-bold.woff2') format('woff2'),
       url('/static/fonts/quicksand/quicksand-bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-light.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-regular.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-bold.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-bold.woff') format('woff');
  font-weight: 700;
}

/* HTML Tags */
html {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
}
a,
a:active,
a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;
}
hr {
  width: 85px;
  height: 5px;
  background: #db2525;
  border: none;
  margin-top: 10px;
  border-radius: 2.5px;
}
main {
  min-height: 100vh;
  overflow: auto;
}
main.nav-margin {
  min-height: calc(100vh - 60px);
  margin-top: 60px;
}
button {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  height: 40px;
  padding: 0 22px;
  transition: background-color 0.2s, opacity 0.2s;
  border-radius: 3px;
  background-color: #ffffff;
  color: #000;
  margin-left: 10px;
  line-height: 41px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}
button:hover {
  background-color: #f5f5f5;
}
button.highlight {
  color: #fff;
  background-color: #db2525;
}
button.highlight:hover {
  background-color: #96013d;
}
button[disabled] {
  opacity: 0.25;
}
button[disabled]:hover {
  background-color: #f5f5f5;
}
button[disabled].highlight:hover {
  background-color: #db2525;
}
section {
  width: 100%;
  padding: 50px 0;
}
section header {
  width: 100%;
  line-height: 1.15;
  margin-bottom: 40px;
  text-align: center;
}
section header.left {
  text-align: left;
}
@media (max-width: 991px) {
  section {
    padding: 40px 0;
  }
  section header {
    margin-bottom: 35px;
  }
  section header.mobile-center {
    text-align: center;
  }
}

/* Header Styles */
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
h1 {
  margin: 0 auto;
  font-size: 5rem;
  font-weight: 700;
}
h2 {
  margin: 0 auto;
  font-size: 3.4rem;
  display: inline-block;
}
h3 {
  margin: 0 0 18px 0;
  font-size: 2rem;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}

/* Text Styles */
.text-light {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #696969;
}
.text-bold {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #696969;
}
.text-small {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1em;
  color: #696969;
}
@media (max-width: 991px) {
  .text-bold {
    font-size: 1.1em;
  }
  .text-bold {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .text-light {
    font-size: 1em;
  }
  .text-bold {
    font-size: 1em;
  }
}

/* Backgrounds */
.bg-light {
  background: #fff;
}
.bg-grey {
  background: #f1f1f1;
}
.bg-dark {
  background: #191919;
}

/* Gradients */
.gradient-text {
  color: #db2525;
  /* Enable gradient only in Chrome in case of compatibility issues */
  background: -webkit-linear-gradient(left, #db2525 0%,#a10829 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.gradient-background {
  background: #db2525;
  background: linear-gradient(to right, rgba(219,37,37,1) 0%, rgba(161,8,41,1) 100%);
}

/* Navbar */
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  transition: background-color 0.2s, box-shadow 0.2s;
  background: rgba(255, 255, 255, 0);
  box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 5px;
  z-index: 1000;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform;
}
nav.on-scroll {
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}
.hamburger {
  float: left;
  height: 60px;
  width: 68px;
  padding: 24px;
  margin-left: -15px;
  display: none;
  z-index: 1200;
  position: relative;
}
.hamburger .line {
  height: 2px;
  width: 100%;
  background: #db2525;
  border-radius: 2px;
  margin-bottom: 4px;
}
.navbar-logo {
  height: 60px;
  padding: 17px 5px;
  float: left;
  z-index: 1200;
  position: relative;
}
.navbar-logo img {
  height: 100%;
}
.navbar-list {
  height: 60px;
  margin: 0 -24px 0 0;
  padding: 0;
  list-style-type: none;
  float: right;
  will-change: transform;
}
.navbar-list li {
  float: left;
}
.navbar-list li a {
  height: 60px;
  padding: 0 15px;
  display: inline-block;
  color: #db2525;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 61px;
  text-transform: uppercase;
}
.navbar-list li a:hover {
  color: #96013d;
}
@media (min-width: 768px) {
  .navbar-list li a.highlight {
    height: 44px;
    padding: 0 30px;
    transition: background-color 0.2s;
    border-radius: 2px;
    background-color: #db2525;
    color: #fff;
    margin: 8px 17px;
    line-height: 45px;
  }
  .navbar-list li a:hover.highlight {
    background: #96013d;
  }
}
@media (max-width: 767px) {
  nav {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  }
  .hamburger {
    display: block;
  }
  .navbar-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fff;
    width: 100%;
    z-index: 1100;
    padding-top: 60px;
    transition: transform 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px;
    transform: translate3d(calc(-100% - 5px), 0, 0);
  }
  .navbar-list.open {
    transform: translate3d(0, 0, 0);
  }
  .navbar-list li {
    float: none;
    height: 60px;
  }
  .navbar-list li a {
    float: none;
    height: 60px;
    width: 100%;
    line-height: 61px;
    padding: 0 25px;
  }
}

/* Footer */
footer {
  background: #0f0f0f;
  padding: 40px 0px;
  font-size: 1em;
}
.footer-list {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.footer-list li {
  float: left;
  color: #dddddd;
  margin-right: 30px;
  font-weight: 700;
}
.footer-list li a {
  color: #dddddd;
}
.footer-list li a:hover {
  color: #9c9c9c;
}
.footer-text {
  color: #999999;
}

/* Banners */
.banner {
  height: 270px;
  background: #0f0f0f;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.banner.large {
  height: 450px;
}
.banner .parallax {
  position: relative;
  height: 100%;
}
.banner-background {
  height: 100%;
  width: 100%;
  background: url(/static/img/main/banner.jpg);
  background-size: cover;
  background-position: center;
}
.banner-background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(15,15,15,1), rgba(15,15,15,0.8));
}
.banner-content {
  position: absolute;
  width: 100%;
  bottom: 45px;
  text-align: left;
  color: #fefefe;
}
.banner.large .banner-content {
  top: 50%;
  left: 50%;
  bottom: unset;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-content .subheading {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.1;
}
@media (max-width: 1199px) {
  .banner {
    height: 230px;
  }
  .banner.large {
    height: 450px;
  }
  .banner-content {
    bottom: 35px;
  }
  .banner-content .subheading {
    font-size: 2rem;
  }
}
@media (max-width: 991px) {
  .banner {
    height: 200px;
  }
  .banner.large {
    height: 400px;
  }
  .banner-content {
    bottom: 30px;
  }
  .banner-content .subheading {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 170px;
    margin-top: 60px;
  }
  .banner.large {
    height: 300px;
  }
  .banner-content {
    bottom: 25px;
  }
  .banner-content .subheading {
    font-size: 1.4rem;
  }
}

/* Forms */
label {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: Roboto;
  margin-bottom: 10px;
  color: #828282;
}
label .highlight {
  color: #db2525;
}
.form-control {
  box-shadow: none;
  border-radius: 2px;
  color: #000;
  border: 1px solid #e8e8e8;
  padding: 10px 15px;
  height: auto;
}
.form-control:focus {
  border-color: #26db25;
  outline: 0;
  box-shadow: rgba(37, 219, 61, 0.2) 0px 0px 8px;
}
.form-control.invalid {
  border: 1px solid #de8080;
  background: #fef6f6;
}
.form-control.invalid:focus {
  border-color: #db2525;
  outline: 0;
  box-shadow: rgba(219, 37, 37, 0.2) 0px 0px 8px;
}
.form-group {
  margin-bottom: 20px;
}

/* Toasts */
#toast {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 3000;
  margin: 10px;
  border-radius: 2px;
  background: #db2525;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
  transition: transform 0.4s ease;
  transform: translate3d(0, 0, 0);
}
#toast.dismiss {
  transform: translate3d(0, calc(100% + 20px), 0);
}
#toast .text {
  color: #ffffff;
  font-size: 1.1em;
  margin: 20px;
}
#toast button {
  margin-right: 10px;
}
#toast .close-btn:hover {
  background-color: rgb(230, 230, 230);
}

/* Loading Spinner */
/*Based on Modern Google Loader in Pure CSS by jczimm
https://codepen.io/jczimm/pen/vEBpoL */
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.loader .circle {
  animation: loader-rotate 2s linear infinite;
  transform-origin: center center;
  height: 100%;
  width: 100%;
}
.loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #db2525;
}
@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

/* Javascript Elements */
.fade-in {
  opacity: 0;
  transition: opacity 0.75s;
}
.no-scroll {
  overflow: hidden;
}
