/**
	* Main CSS for my site
  * @author JonathanPeterCole@gmail.com
**/

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
         url('/static/fonts/montserrat/montserrat-semibold.woff') format('woff');
    font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
       url('/static/fonts/montserrat/montserrat-bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
  font-family: 'Quicksand';
  src: url('/static/fonts/quicksand/quicksand-bold.woff2') format('woff2'),
       url('/static/fonts/quicksand/quicksand-bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-light.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-regular.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/roboto-bold.woff2') format('woff2'),
       url('/static/fonts/roboto/roboto-bold.woff') format('woff');
  font-weight: 700;
}

/* HTML Tags */
html {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
}
a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
  transition: color 0.2s;
}
hr {
  width: 85px;
  height: 5px;
  background: #db2525;
  border: none;
  margin-top: 12px;
  border-radius: 2.5px;
}
main {
  min-height: 100vh;
}
main.nav-margin {
  min-height: calc(100vh - 64px);
  margin-top: 64px;
}
section {
  width: 100%;
  padding: 55px 0;
}
section .centered-header {
  width: 100%;
  margin-bottom: 45px;
  text-align: center;
}
@media (max-width: 991px) {
  section {
    padding: 40px 0;
  }
  section .centered-header {
    margin-bottom: 35px;
  }
}

/* Header Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
h1 {
  margin: 0 auto;
  font-size: 4em;
  font-weight: 700;
  color: #fefefe;
}
h2 {
  margin: 0;
  font-size: 2.7em;
  color: #db2525;
  display: inline-block;
}
h3 {
  margin: 0 auto;
  font-size: 1.5em;
  color: #fefefe;
}
h4 {
  margin: 0 0 20px 0;
  font-size: 1.5em;
  color: #212121;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.3em;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.3em;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.9em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.2em;
  }
}

/* Text Styles */
.text-light {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  color: #696969;
}
.text-bold {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: #696969;
}
.text-small {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1em;
  color: #696969;
}
@media (max-width: 1199px) {
  .text-light {
    font-size: 1.2em;
  }
  .text-bold {
    font-size: 1.2em;
  }
}
@media (max-width: 991px) {
  .text-bold {
    font-size: 1.1em;
  }
  .text-bold {
    font-size: 1.1em;
  }
}
@media (max-width: 767px) {
  .text-light {
    font-size: 1em;
  }
  .text-bold {
    font-size: 1em;
  }
}

/* Gradients */
.gradient-text {
  color: #db2525;
  /* Enable gradient only in Chrome in case of compatibility issues */
  background: -webkit-linear-gradient(left, #db2525 0%,#a10829 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.gradient-background {
  background: #db2525;
  background: linear-gradient(to right, rgba(219,37,37,1) 0%, rgba(161,8,41,1) 100%);
}

/* Navbar */
header {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  transition: transform 0.2s, background 0.2s, box-shadow 0.2s;
  background: rgba(255, 255, 255, 0);
  box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 5px;
  z-index: 1000;
}
header.on-scroll {
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}
.hamburger {
  float: left;
  height: 64px;
  width: 70px;
  padding: 25px;
  margin-left: -15px;
  display: none;
  z-index: 1200;
  position: relative;
}
.hamburger .line {
  height: 2px;
  width: 100%;
  background: #db2525;
  border-radius: 2px;
  margin-bottom: 4px;
}
.navbar-logo {
  height: 64px;
  padding: 17px 0;
  float: left;
  z-index: 1200;
  position: relative;
}
.navbar-logo img {
  height: 100%;
}
.navbar-list {
  height: 64px;
  margin: 0 -17px 0 0;
  padding: 0;
  list-style-type: none;
  float: right;
}
.navbar-list li {
  float: left;
}
.navbar-list li a {
  height: 64px;
  padding: 0 17px;
  display: inline-block;
  color: #db2525;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 65px;
  text-transform: uppercase;
}
.navbar-list li a:hover {
  color: #96013d;
}
@media (min-width: 768px) {
  .navbar-list li a .highlight {
    height: 44px;
    padding: 0 30px;
    transition: background 0.2s;
    border-radius: 2px;
    background-color: #db2525;
    color: #fff;
    margin: 10px 0;
    line-height: 45px;
  }
  .navbar-list li a:hover .highlight {
    background: #96013d;
  }
}
@media (max-width: 767px) {
  header {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  }
  header.collapsed {
    transform: translateY(-100%);
    box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 5px;
  }
  .hamburger {
    display: block;
  }
  .navbar-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fff;
    width: 100%;
    z-index: 1100;
    padding-top: 64px;
    transition: transform 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 0px 5px;
    transform: translateX(calc(-100% - 5px));
  }
  .navbar-list.open {
    transform: none;
  }
  .navbar-list li {
    float: none;
    height: 60px;
  }
  .navbar-list li a {
    float: none;
    height: 60px;
    width: 100%;
    line-height: 61px;
    padding: 0 25px;
  }
}

/* Footer */
footer {
  background: #0f0f0f;
  padding: 40px 0px;
  font-size: 1.1em;
}
.footer-list {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.footer-list li {
  float: left;
  color: #dddddd;
  margin-right: 30px;
  font-weight: 700;
}
.footer-list li a {
  color: #dddddd;
}
.footer-list li a:hover {
  color: #ffffff;
}
.footer-text {
  color: #999999;
}

/* Banners */
.banner {
  height: 650px;
  background: #131313;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.banner-background {
  background: url(/static/img/main/background-grain.jpg);
  height: 100%;
  width: 100%;
}
.banner-content {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
@media (max-width: 1199px) {
  .banner {
    height: 500px;
  }
  .banner-content {
    padding-top: 0px;
  }
}
@media (max-width: 991px) {
  .banner {
    height: 400px;
  }
  .banner-content {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 400px;
  }
  .banner-content {
    padding-top: 50px;
  }
}

/* Loading Spinner */
/*Based on Modern Google Loader in Pure CSS by jczimm
https://codepen.io/jczimm/pen/vEBpoL */
.loader {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50px, -50%);
}
.loader .circle {
  animation: loader-rotate 2s linear infinite;
  transform-origin: center center;
  height: 100%;
  width: 100%;
}
.loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #db2525;
}
@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

/* Javascript Elements */
.fade-in {
  opacity: 0;
  transition: opacity 0.75s;
}
.no-scroll {
  overflow: hidden;
}
