<form>
  <div class="form-container">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">Your Name <span class="highlight">(Required)</span></label>
          <input type="text" class="form-control validated" name="name" placeholder="Your Name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Your Email <span class="highlight">(Required)</span></label>
          <input type="email" class="form-control validated" name="email" placeholder="Your Email">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="phone">Your Phone Number</label>
          <input type="text" class="form-control validated" name="phone" placeholder="Your Phone Number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="pc-model">Your PC Make and Model</label>
          <input type="text" class="form-control validated" name="pc-model" placeholder="For Example: Dell XPS 15 9560">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="accessory">Your New Accessory (If Applicable)</label>
          <input type="text" class="form-control validated" name="accessory" placeholder="For Example: BenQ XL2730Z Monitor">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="win-ver">Your Windows Version</label>
          <input type="text" class="form-control validated" name="win-ver" placeholder="For Example: Windows 10">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="message">Message <span class="highlight">(Required)</span></label>
          <textarea class="form-control validated" rows="6" name="message"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row page-controls">
    <div class="col-md-6">
      <div class="page-status">
        Something went wrong submitting your booking. Please try again.
      </div>
    </div>
    <div class="col-md-6 page-buttons">
      <button class="back" type="button">Back</button>
      <button class="highlight" type="submit">Submit Booking</button>
    </div>
  </div>
</form>
