<form class="form-container">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Your Name <span class="highlight">(Required)</span></label>
        <input type="text" class="form-control validated" name="name" placeholder="Your Name">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Your Email <span class="highlight">(Required)</span></label>
        <input type="email" class="form-control validated" name="email" placeholder="Your Email">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="phone">Your Phone Number</label>
        <input type="text" class="form-control validated" name="phone" placeholder="Your Phone Number">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="pc-model">Your PC Make and Model</label>
        <input type="text" class="form-control validated" name="pc-model" placeholder="For Example: Dell XPS 15 9560">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="win-ver">Your Windows Version</label>
        <input type="text" class="form-control validated" name="win-ver" placeholder="For Example: Windows 10">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="upgrade-type">Upgrade Type</label>
        <select name="upgrade-type" class="form-control">
          <option value="choose-for-me">Choose For Me</option>
          <option value="ssd">SSD Upgrade</option>
          <option value="ram">RAM Upgrade</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="message">Message <span class="highlight">(Required)</span></label>
        <textarea class="form-control validated" rows="6" name="message"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="button-container">
        <button class="back" type="button">Back</button>
        <button type="submit">Submit Booking</button>
      </div>
    </div>
  </div>
</form>
