/**
	* Pages CSS for my site
  * @author JonathanPeterCole@gmail.com
**/

.page {
  display: none;
  height: 100%;
  width: 100%;
  animation: pageFadeIn .3s;
}
.page.display {
  display: block;
}
@-webkit-keyframes pageFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes pageFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
