/**
	* Pages CSS for my site
  * @author JonathanPeterCole@gmail.com
**/

/* Pages */
.page {
  display: none;
  height: 100%;
  width: 100%;
  animation: pageFadeIn .3s;
}
.page.display {
  display: block;
}
@-webkit-keyframes pageFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes pageFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Page Content */
.page .content-container {
  width: 100%;
  padding: 35px 50px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}

/* Page Controls */
.page-controls .page-status {
  display: none;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #db2525;
}
.page-controls .page-status.show {
  display: block;
}
.page-controls .page-buttons {
  text-align: right;
}
@media (max-width: 991px) {
  .page-controls .page-status {
    text-align: center;
  }
}
