/**
	* Pages CSS for my site
  * @author JonathanPeterCole@gmail.com
**/

/* Pages */
.page {
  display: none;
  height: 100%;
  width: 100%;
  animation: pageFadeIn .3s;
}
.page.display {
  display: block;
}
@-webkit-keyframes pageFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes pageFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Page Controls */
.page-controls {

}
.page-controls .page-status {
  text-align: left;
  height: 45px;
  line-height: 44px;
}
.page-controls .page-buttons {
  text-align: right;
}
