{% extends "components/layout.html.j2" %}

{% block title %}
  Book
{% endblock %}

{% block head %}
  <link href="/static/css/components/pages.css" rel="stylesheet">
  <link href="/static/css/book.css" rel="stylesheet">
  <script src="/static/js/components/page-manager.js" defer></script>
  <script src="/static/js/book.js" defer></script>
{% endblock %}

{% block body %}
  <main class="bg-grey">
    <section id="home" class="banner">
      <div class="parallax">
        <div class="banner-background fade-in"></div>
        <div class="banner-content">
          <div class="container">
            <h1>Book Now</h1>
          </div>
        </div>
      </div>
    </section>

    <section id="book">
      <div class="container">
        <div id="page-container">
          <!-- Loading Page -->
          <div id="loading" class="page display loading-container">
            <div class="loader">
              <svg class="circle" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
            </div>
          </div>

          <!-- Services Page -->
          <div id="service-selection" class="page">
            <header class="left">
              <h2 class="gradient-text">Select the Service you want</h2>
            </header>
            <div class="row">
              <div class="col-md-4">
                <a class="selection-block" service-type="setup" target-page="setup-form" href="#">
                  <h3 class="title">New PC &amp; Accessory Setup</h3>
                  <img class="icon" src="/static/img/book/service/setup.svg"/>
                  <div class="price">£20</div>
                  <div class="extra">On Site Only</div>
                </a>
              </div>
              <div class="col-md-4">
                <a class="selection-block" service-type="upgrade" target-page="upgrade-form" href="#">
                  <h3 class="title">Upgrade</h3>
                  <img class="icon" src="/static/img/book/service/upgrade.svg"/>
                  <div class="price">£20</div>
                  <div class="extra">Plus Component Costs</div>
                </a>
              </div>
              <div class="col-md-4">
                <a class="selection-block" service-type="repair" target-page="repair-form" href="#">
                  <h3 class="title">Repairs and Virus Removal</h3>
                  <img class="icon" src="/static/img/book/service/repair.svg"/>
                  <div class="price">£30</div>
                  <div class="extra">Plus Replacement Part Costs</div>
                </a>
              </div>
            </div>
          </div>

          <!-- Site Type Page -->
          <div id="site-selection" class="page">
            <header class="left">
              <h2 class="gradient-text">On site or Drop off?</h2>
            </header>
            <div class="row">
              <div class="col-md-6">
                <a class="selection-block" site-type="drop-off" target-page="setup-form" href="#">
                  <h3 class="title">Drop Off</h3>
                  <img class="icon" src="/static/img/book/site/drop-off.svg"/>
                  <div class="price">No Additional Charge</div>
                </a>
              </div>
              <div class="col-md-6">
                <a class="selection-block" site-type="on-site" target-page="repair-form" href="#">
                  <h3 class="title">On Site</h3>
                  <img class="icon" src="/static/img/book/site/on-site.svg"/>
                  <div class="price">+£5</div>
                </a>
              </div>
            </div>
          </div>

          <!-- Setup Form Page -->
          <div id="setup-form" class="page">
            <header class="left">
              <h2 class="gradient-text">New PC and Accessory Setup</h2>
            </header>
            {% include "forms/setup-form.html.j2" %}
          </div>

          <!-- Upgrade Form Page -->
          <div id="upgrade-form" class="page">
            <header class="left">
              <h2 class="gradient-text">Upgrade</h2>
            </header>
            {% include "forms/upgrade-form.html.j2" %}
          </div>

          <!-- Repair Form Page -->
          <div id="repair-form" class="page">
            <header class="left">
              <h2 class="gradient-text">Repairs and Virus Removal</h2>
            </header>
            {% include "forms/repair-form.html.j2" %}
          </div>

          <!-- Results Page -->
          <div id="result" class="page">
            <!-- AJAX Result should appear here -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
