{% extends "components/layout.html.j2" %}

{% block title %}
  Book
{% endblock %}

{% block head %}
  <!-- Booking CSS and JS here -->
{% endblock %}

{% block body %}
  <main class="nav-margin">
    <div class="container">
      Booking form goes here
    </div>
  </main>
{% endblock %}
