{% extends "layout.html.j2" %}
{% block title %}{% endblock %}
{% block header %}
  <link href="./static/css/in-development.css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div id="announcement">
    <div class="announcement-container">
      <div class="announcement-title gradient-text">THIS SITE IS IN DEVELOPMENT</div>
      <div class="announcement-text">You can still get in touch at <a href="mailto:JonathanPeterCole@gmail.com">JonathanPeterCole@gmail.com</a></div>
    </div>
  </div>
{% endblock %}
