{% extends "components/layout.html.j2" %}

{% block title %}Home{% endblock %}

{% block head %}
  <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <main>
    <div id="banner">
      <div class="banner-background fade-in">
        <div class="banner-img"></div>
      </div>
      <div class="banner-content">
        <h1>Jonathan Cole's<br> Computer Services</h1>
        <hr class="gradient-background">
        <h3>Providing Technical Support for<br> Holsworthy and Bude</h3>
      </div>
    </div>

    <section id="about">
      <div class="container">
        <div class="centered-header">
          <h2 class="gradient-text">About</h2>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-push-10 text-center">
            <img src="/static/img/home/photo.jpg">
          </div>
          <div class="col-md-10 col-md-pull-2 text-light">
            <p>
              I’m Jonathan Cole, a Software Engineering student at Cardiff
              University’s National Software Academy, living in Pancrasweek.
              Over the summer, up until the end of September, I’m providing
              low-cost IT services across Holsworthy and Bude.
            </p>
            <p>
              Whether you’ve just bought a new PC or printer and don’t know how
              to set it up or your computer is running slow, not working, or
              infected with a virus, I’m here to help, and if I can’t fix it,
              there’s no fee.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="centered-header">
          <h2 class="gradient-text">Services</h2>
        </div>
        <div class="row service">
          <div class="col-md-6 text">
            <h4>New PC &amp; Accessory Setup</h4>
            <p class="text-light">
              Just bought a new PC or a new accessory like a printer? I can set
              everything up and remove any junkware installed by the
              manufacturer that could slow you down or get in your way.
            </p>
            <p class="text-bold">Only £20</p>
          </div>
          <div class="col-md-6 image-box setup">
            <img src="/static/img/home/services/setup.jpg">
          </div>
        </div>
        <div class="row service">
          <div class="col-md-6 text">
            <h4>Upgrades</h4>
            <p class="text-light">
              If you’re tired of your slow laptop or desktop PC, you usually
              don’t need to replace the whole machine. I can provide on-site
              and drop-off SSD and RAM upgrades to breath new life into your
              PC. Just get in touch to discuss options for your PC or laptop.
            </p>
            <p class="text-bold">Only £20 + Component Costs</p>
          </div>
          <div class="col-md-6 image-box upgrade">
            <img src="/static/img/home/services/upgrade.jpg">
          </div>
        </div>
        <div class="row service">
          <div class="col-md-6 text">
            <h4>Repairs &amp; Virus Removal</h4>
            <p class="text-light">
              If your PC isn’t working properly, your laptop screen is broken,
              or your PC’s been infected with a virus, I can provide an
              on-site or drop-off repair to get it working properly again.
            </p>
            <p class="text-bold">Only £35 + Replacement Parts Cost</p>
          </div>
          <div class="col-md-6 image-box repair">
            <img src="/static/img/home/services/repair.jpg">
          </div>
        </div>
      </div>
    </section>

    <section id="contact-and-book">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="gradient-text">Ready to book <br>or want to get <br>in touch?</h2>
          </div>
          <div class="col-md-6 contact-details">
              <img src="/static/img/home/email.svg">
              <div class="text">
                <b>Send Me An Email:</b><br>
                <a href="mailto:JonathanPeterCole@gmail.com">JonathanPeterCole@gmail.com</a>
              </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
