{% extends "components/layout.html.j2" %}

{% block title %}Home{% endblock %}

{% block head %}
  <!-- Include JS and CSS for homepage -->
{% endblock %}

{% block body %}
  <main>
    <!-- TODO: Develop a static homepage for first release -->
  </main>
{% endblock %}
