{% extends "components/layout.html.j2" %}

{% block title %}Home{% endblock %}

{% block head %}
  <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <main>
    <div class="banner">
      <div class="banner-background fade-in">
        <div class="banner-img"></div>
      </div>
      <div class="banner-content">
        <h1>Jonathan Cole's<br> Computer Services</h1>
        <hr class="gradient-background">
        <h3>Providing Technical Support for<br> Holsworthy and Bude</h3>
      </div>
    </div>

    <section class="about">
      <div class="container">
        <h2 class="gradient-text">About</h2>
        <div class="row">
          <div class="col-md-2 col-md-push-10 text-center">
            <img src="/static/img/home/photo.jpg">
          </div>
          <div class="col-md-10 col-md-pull-2 text-light">
            <p>
              I’m Jonathan Cole, a Software Engineering student at Cardiff
              University’s National Software Academy, living in Pancrasweek.
              Over the summer, up until the end of September, I’m providing
              low-cost IT services across Holsworthy and Bude.
            </p>
            <p>
              Whether you’ve just bought a new PC or printer and don’t know how
              to set it up or your computer is running slow, not working, or
              infected with a virus, I’m here to help, and if I can’t fix it,
              there’s so fee.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="services">
      <div class="container">
        <h2 class="gradient-text">Services</h2>
        <div class="row service">
          <div class="col-md-6 text">
            <h4>New PC &amp; Accessory Setup</h4>
            <p class="text-light">Placeholder Description</p>
            <p class="text-bold">Placeholder Cost</p>
          </div>
          <div class="col-md-6 image-box setup">
            <img src="/static/img/home/services/setup.jpg">
          </div>
        </div>
        <div class="row service">
          <div class="col-md-6 text">
            <h4>Upgrades</h4>
            <p class="text-light">Placeholder Description</p>
            <p class="text-bold">Placeholder Cost</p>
          </div>
          <div class="col-md-6 image-box upgrade">
            <img src="/static/img/home/services/upgrade.jpg">
          </div>
        </div>
        <div class="row service">
          <div class="col-md-6 text">
            <h4>Repairs &amp; Virus Removal</h4>
            <p class="text-light">Placeholder Description</p>
            <p class="text-bold">Placeholder Cost</p>
          </div>
          <div class="col-md-6 image-box repair">
            <img src="/static/img/home/services/repair.jpg">
          </div>
        </div>
      </div>
    </section>

    <!-- TODO: Develop a static homepage for first release -->
  </main>
{% endblock %}
