<footer>
  <div class="container">
    <ul class="footer-list">
      <li>Jonathan Cole</li>
      <li><a href="https://github.com/JonathanPeterCole/" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://www.facebook.com/JonathanColeCS" target="_blank" rel="noopener">Facebook</a></li>
      <li><a href="https://www.linkedin.com/in/jonathan-cole/" target="_blank" rel="noopener">LinkedIn</a></li>
    </ul>
    <div class="footer-text">
      This website was built by me. Fonts used include Roboto, Quicksand, and Montserrat.
    </div>
  </div>
</footer>
