<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {# If the there is a title, but a dash between the title and site name #}
    {% block title %}{% endblock %}
    {% if self.title() %} - {% endif %}
    Jonathan Cole Computer Services
  </title>

  <!-- Icons -->
  <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
  <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#db2525">
  <link rel="manifest" href="/static/img/icons/manifest.json">
  <meta name="theme-color" content="#db2525">
  <meta name="msapplication-config" content="/static/img/icons/browserconfig.xml">

  <!-- JS and CSS -->
  <script src="/static/js/jquery/jquery-3.2.1.min.js" defer></script>
  <script src="/static/js/main.js" defer></script>
  <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- Social -->
  <meta property="og:title" content="{% block social_title %}Jonathan Cole Computer Services{% endblock %}">
  <meta property="og:description" content="{% block social_description %}Providing technical support for Holsworthy and Bude{% endblock %}">
  <meta property="og:type" content="{% block social_type %}website{% endblock %}">
  <meta property="og:url" content="https://www.jonathancolecs.uk/">
  <meta property="og:image" content="https://www.jonathancolecs.uk/static/img/main/social/image.png">
  <meta property="og:image:alt" content="New PC Setup, Upgrades, Repairs, and Virus Removal in Holworthy and Bude">

  {# Head block for additional CSS or Javascript #}
  {% block head %}{% endblock %}
</head>

<body>
  {# Include the navbar if it's enabled #}
  {% if navbar_enabled != false %}
    {% include "components/navbar.html.j2" %}
  {% endif %}

  {# Set the body block #}
  {% block body %}{% endblock %}

  {# Include the footer #}
  {% include "components/footer.html.j2" %}

  {# Show a toast if a visitor message is set #}
  {% if visitor_message %}
    <div id="toast">
      <div class="text">
        {{ visitor_message }}
      </div>
      <button class="close-btn">Okay</button>
    </div>
  {% endif %}
</body>
</html>
