<header>
  <div class="container">
    <a class="navbar-logo" href="/" alt="Jonathan Cole's Computer Services">
      <img src="/static/img/main/logo.svg" width="125px" height="30px"/>
    </a>
    <ul class="navbar-list">
      <li><a class="scroll-btn" href="#banner">Home</a></li>
      <li><a class="scroll-btn" href="#about">About</a></li>
      <li><a class="scroll-btn" href="#services">Services</a></li>
      <li>
        <a class="scroll-btn" href="#contact-and-book">
          <div class="highlight">Contact &amp; Book</div>
        </a>
      </li>
    </ul>
  </div>
</header>
