<header>
  <div class="container">
    <a class="navbar-logo" href="/" alt="Jonathan Cole's Computer Services">
      <img src="/static/img/main/logo.svg" width="125px" height="30px"/>
    </a>
    <ul class="navbar-list">
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Services</a></li>
      <li>
        <a href="/">
          <div class="highlight">Contact &amp; Book</div>
        </a>
      </li>
    </ul>
  </div>
</header>
